.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  background: #000;
}

.slideshow__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}


.slideshow__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  color: #fff;
  cursor: pointer;
  padding: 0 12px;

  font-size: 120px;
  line-height: 1;
  user-select: none;
}

.slideshow__arrow__left {
  left: 16px;
}

.slideshow__arrow__right {
  right: 16px;
}

.slideshow__counter {
  position: absolute;
  left: 50%;
  bottom: 20px;
 
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}