.about__collapses {
  margin: 40px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px) {
  .about__collapses {
    width: 100%;
    max-width: 100%;
    margin: 29px 0 0;
    gap: 20px;
  }
}