.card {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  height: 340px;
  text-decoration: none;
  color: inherit;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;

  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}