.notfound {
  text-align: center;
  margin: 80px 0;
}

.notfound__code {
  font-size: 260px;
  font-weight: 700;
  color: #ff6060;
  margin: 0;
}

.notfound__text {
  font-size: 36px;
  color: #ff6060;
  margin: 40px 0;
}

.notfound__link {
  font-size: 18px;
  color: #000;
  text-decoration: underline;
}