.collapse {
  width: 100%;
}

.collapse__header {
  width: 100%;
  border: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 15px;
  border-radius: 5px;

  background: #ff6060;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.collapse__chevron {
  display: inline-block;
  transition: transform 200ms ease;
  font-size: 18px;
  line-height: 1;
}

.collapse__chevron.is-open {
  transform: rotate(180deg);
}

.collapse__content {
  background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  padding: 20px 15px;
}

.collapse__text {
  margin: 0;
  color: #000;
  font-size: 16px;
  line-height: 1.4;
}
