.footer {
  margin-top: 20px;
  background: #000;
  color: #fff;

  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.footer__logo {
  width: auto;
  display: block;
}

.footer__text {
  margin: 0;
  font-size: 24px;
}