body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1240px;
  width:100%;
  margin: 0 auto;
  padding: 0 20px;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}