.banner {
  position: relative;
  width: 100%;
  height: 220px;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto 40px;
}

.banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.banner__title {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;

  margin: 0;
  padding: 0 16px;
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}